.App
  text-align: center
  p
    color: black


.App-header
  background-color: #000080;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: WHITE
  #big-cont
    position: absolute
    left: 35%
    width: 30%
    top: 20vh

.App-Title
  margin-bottom: .75rem;
  color: WHITE
  font-size: calc(50px + 2vmin);
  font-style: italic
    

.input-Searchbar
  padding: .5em;
  border-radius: 50vh;
  margin-top: 0%;
  width: 30%;
  height: 1em;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.9), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  &:focus
    &+.closest
      display: inline-block

  
.closest
  padding: 0.5em;
  display: none


  
.App-link
  color: #61dafb

.react-search-box-dropdown-list-item
  color: black

.input-box[type="text"]
  font-size: 14px
  color: #000
  padding: 10px 20px
  line-height: 0

.chip .chip-body
  margin-top: 10px
  height: 100%

#inputs 
  width: 100%
  .multiSelect
    width: 100%
    margin-left: 0
    margin-right: 0
    .search-result
      overflow-x: hidden
      border: 0
      background-color: white
      color: black

p.error
  color: red
  margin: 5px
  font-size: 1rem