.App
  text-align: center



.App-header
  background-color: #000080;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: WHITE

.App-Title
  margin-bottom: .75rem;
  color: WHITE
    

.input-Searchbar
  padding: .5em;
  border-radius: 50vh;
  margin-top: 0%;
  width: 30%;
  height: 1em;
  box-shadow: 0 0 8px 0px rgba(0, 0, 0, 0.9), 0 0 40px rgba(0, 0, 0, 0.1) inset;
  &:focus
    &+.closest
      display: inline-block

  
.closest
  padding: 0.5em;
  display: none


  
.App-link
  color: #61dafb


