#googleMap
    width: 100%
    float: right
    height: 100%
    z-index: -1

#root
    height: 100%
    >div
        height: 100%
        >div
            height: 100%
            >div
                height: 100%
                >div
                    height: 100%

#sb-wrapper
    display: block
    margin: 10px
    .multiSelect
        margin-left: 0
        margin-right: 0
        margin-top: 0
        .search-result
            overflow-x: hidden
            overflow-y: hidden
            .container
                margin-bottom: 9px
    input
        box-shadow: 0 1px 4px #0007
        border-radius: 5px
        &:focus
            color: #495057
            border-color: #ced4da
input+.react-search-box-dropdown
            margin: 0

.list-result
    background-color: white

.input-box
    height: 40px

.input-box[type="text"]
    font-size: 14px
    color: #000
    padding: 10px 20px
    line-height: 0

.chip 
    .chip-body
        margin-top: 10px
        margin-bottom: 0
        padding: 0 5px
        height: 100%
        box-shadow: 0 1px 4px #0007
        border-radius: 5px
        .chip-close
            color: #000
            font-size: 80%
            padding: 1px
            &:hover
                color: #fff
            
    .chip-text
        font-size: 80%
        padding-bottom: 5%
        vertical-align: middle
        
#restaurant
    float: left
    background-color: #fff
    border-radius: 10px
    padding: 5px 30px
    box-shadow: 0 1px 4px #0007
    border-radius: 5px
    cursor: pointer
    margin-bottom: 10px
    &:hover
        background-color: #eee
    img
        height: 1em
        width: 1em
    p
        width: 150px
    .restaurantImg
        height: 4em
        width: auto