#googleMap
    width: 100%
    float: right
    height: 42em
    z-index: -1

#sb-wrapper
    display: block
    margin: 10px
    box-shadow: 0 1px 4px #0007
    border-radius: 5px

input+.react-search-box-dropdown
    margin: 0